@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

body{
    --radius: 0.2rem;
    --clr-gray100: #f9fbff;
    --clr-gray150: #f4f6fb;
    --clr-gray200: #eef1f6;
    --clr-gray300: #e1e5ee;
    --clr-gray400: #767b91;
    --clr-gray500: #4f546c;
    --clr-gray600: #2a324b;
    --clr-gray700: #161d34;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: space-between;
  width: 70%;
  margin: 5% auto;
}

.card {
  overflow: hidden;
  font-family: Oxygen, sans-serif;
  box-shadow: 0 2px 20px var(--clr-gray100);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  /* background-color: #000; */

}

.card__image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card__title {
    padding: 0.5rem;
    text-align: center;
    color: var(--clr-gray100);
}

.card__description {
    padding: 0 1rem;
    color: var(--clr-gray100);
}

.card__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: var(--radius);
    transition: background-color 200ms ease-in, color 200ms ease-in;
}

.card__btn:hover{
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}

.card:hover .card__btn {
    background: var(--color-bg-variant);
    color: white;
}

.card_body{
    background-color: #000;
}
