@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap');

.tech{
    width: 100%;
    border-top: 1px solid #fff;
}

.tech-contain{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2% auto;
    gap:40px;
}

.tech article{
    width: auto;
    text-align: center;
}

.img-logo{
    height: 60%;
    width: 60%;
}

.tech h1{
    font-size: 1.5rem;
    grid-column-start: 1;
    grid-column-end: 6;
}

article h2{
    font-family: Smooth;
}

.cont-imagen{
    display: flex;
    align-items:center;
    margin:auto;
    width: 100px;
    height: 100px;
}

@media screen and (max-width:640px){
    .tech h1{
        text-align: center;
        grid-column-end: 3;
    }

    .tech-contain{
        grid-template-columns: repeat(2, 1fr);
    }
}
